$lightbg: #eef5f9;
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
$border-radius: 8px;
$body-font-family: "Roboto Slab", "Times New Roman", serif;
$font-family: "Roboto Slab", "Times New Roman", serif;
$btn-font-weight: 500 !default;
$btn-letter-spacing: 0 !default;
